* {
    /*border: 1px solid red;*/
    color: white;
    font-family: "Segoe UI", serif;
}

/*html {*/
/*    height: 100%;*/
/*}*/
/*body {*/
/*    height: 100%;*/
/*    margin: 0;*/
/*    background-repeat: no-repeat;*/
/*    background-attachment: fixed;*/
/*    background: rgb(24, 35, 52);*/
/*    background: linear-gradient(333deg, rgba(24, 35, 52, 1) 0%, rgba(18, 18, 24, 1) 99%);*/
/*}*/

.DivCat{
    margin-bottom: 5%;
}



.h2Topic{
    color: white;
    font-family: "Segoe UI Semibold", serif;
    font-weight: bolder;
    width: 90%;
    font-size: 40px;
    margin: auto 20px auto auto;
}

.ItemContainer{
    width: 90%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: auto;

}

.card {
    background: rgb(23,31,46);
    background: linear-gradient(0deg, rgba(23,31,46,1) 0%, rgba(116,108,255,1) 99%);
    width: 190px;
    height: auto;
    max-height: 286px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding-bottom: 2%;
    margin: 10% auto;
    transition: all 0.3s ease 0s;
}

.card:hover{
    box-shadow: 0px 15px 20px rgb(112, 105, 247, 0.4);
    transform: translateY(-7px);
    scale: 110%;
    transition-duration: 0.5s;
}

.ItemContainer-Red > .card{
    background: rgb(231,20,25);
    background: linear-gradient(180deg, rgba(231,20,25,1) 0%, rgba(23,31,46,1) 100%);

}

.ItemContainer-Red > .card:hover{
    box-shadow: 0px 15px 20px rgb(231,20,25, 0.4);
}

.ItemContainer-Green > .card{
    background: rgb(98, 196, 77);
    background: linear-gradient(180deg, rgb(98, 196, 77) 0%, rgba(23,31,46,1) 100%);
}

.ItemContainer-Green > .card:hover{
    box-shadow: 0px 15px 20px rgb(98, 196, 77, 0.4);
}


.Img1{
    width: auto;
    height: 118px;
    max-width: 133px;
    max-height: 118px;
    transform: translateY(10%);
}

.card-info{
    text-align: center;
    transform: translateY(-20px);
}

.title{
    width: 150px;
    height: 60px;
    padding-left: 10%;
    padding-right: 10%;
    font-family: "Segoe UI regular", serif;
    font-weight: lighter;
    overflow: hidden;
    font-size: 14px;
    margin-bottom: -10px;
}

.price{
    font-family: "Segoe UI Semibold", serif;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: -10px;
}

.fd{
    font-family: "Segoe UI regular", serif;
    font-weight: lighter;
    font-size: 10px;
}


.Buy{
    color: white;
    border-radius: 5px;
    background-color: transparent;
    border-color: rgba(113, 107, 250, 0.8);
}

.Buy:hover{
    scale: 110%;
    border-color: rgba(113, 107, 250);
    transition: ease;
}
