* {
    /*border: 1px solid red;*/
    color: white;
    font-family: "Segoe UI", serif;
}

body{
    background: rgb(24,35,52);
    background: linear-gradient(261deg, rgba(24,35,52,1) 0%, rgba(18,18,24,1) 99%);
    /*overflow: hidden;*/
}

h1.logo {
    font-family: "Segoe UI", serif;
    color: white;
    padding: 10px;
}



.form-container{
    position: relative;

}

table{
    width: fit-content;
    margin-left: 0;
    margin-right: auto;
    padding-left: 5%;
}


.th1{
    color: black;
    width: 20%;
    padding-right: 10px;
    margin: 10px;
}

h1{
    color: #eeeeed;
    font-family: "Segoe UI", serif;
    text-transform: uppercase;
    position: relative;
}

td{
    padding-right: 30px;
}

input {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 60%;
    height: 20px;
    border-radius: 20px;
}

.radio > input{
    width: 10%;

}

.submitContainer{
    display: flex;
    color: white;
    width: fit-content;
}

button {
    text-transform: uppercase;
    font-family: "Segoe UI Semibold", serif;
    background-color: #bc161d;
    border-radius: 20px;
    border: 0 solid #ccc;
    color: white;
    width: 100px;
    padding-left: 15px;
    padding-right: 15px;
    height: 30px;
    position: relative;
    margin-right: 10%;
}

button[type="reset"]{
    text-transform: uppercase;
    font-family: "Segoe UI Semibold", serif;
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid white;
    color: white;
    width: 100px;
    padding-left: 15px;
    padding-right: 15px;
    height: 30px;
    position: relative;
    margin-right: 10%;
}

a{
    text-decoration: none;

}

.errorMessage{
    text-align: center;
    color: #bc161d;
}

a > p{
    text-align: center;
    color: white;
    margin-top: 10px;
    opacity: 80%;
}

a > p:hover{
    opacity: 100%;
}



